html {
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 480px;
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
p {
    font-size: 1.25em;
    text-align: center;
}
figcaption, label, input, small {
    font-size: 1em;
    text-transform: uppercase;
}
h1 {
    background-color: #FFFFFF;
    font-size: 3em;
    color: #007D7B;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}
h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
}
nav {
    background-color: #000000;
    color: #FFFFFF;
    padding-left: 500px;
    text-align: right;
    justify-content: right;
}
nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}
nav a:hover {
    font-weight: bold;
}
nav li {
    display: inline;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px;
    margin-left: 10px;
    justify-content: right;
}
nav ul {
    display: inline;
}
[href="#top"] {
    color: #FFFFFF;
    border: 2px solid white;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-radius: 10px 0 0px 0px;
}
main {
    background-color: #FFFFFF;
    color: #000000;
}
#gallery {
    margin-top: -1.7em;
}
#gallery p {
    text-align: left;
}
#about p {
    margin: auto;
    text-align: left;
}
.grid div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    clear: both;
    justify-content: start;
    grid-template-areas: 
    "one two three"
    "four five six"
    "seven eight nine"
    "ten eleven twelve";
}
figure {
    margin: 0px;
    padding: 2px;
}
.one {
    grid-area: 1 / 1 / 2 / 2;
    height: 281px;
    width: 420px;
}
.two {
    grid-area: 1 / 2 / 2 / 3;
    height: 281px;
    width: 420px;
}
.three {
    grid-area: 1 / 3 / 2 / 4;
    height: 281px;
    width: 420px;
}
.four {
    grid-area: 2 / 1 / 4 / 2;
}
.five {
    grid-area: 2 / 2 / 4 / 3;
}
.six {
    grid-area: 2 / 3 / 4 / 4;
}
.seven {
    grid-area: 4 / 1 / 5 / 2;
    height: 281px;
    width: 420px;
}
.eight {
    grid-area: 4 / 2 / 5 / 3;
    height: 281px;
    width: 420px;
}
.nine {
    grid-area: 4 / 3 / 5 / 4;
    height: 281px;
    width: 420px;
}
.ten {
    grid-area: 5 / 1 / 6 / 2;
    height: 281px;
    width: 420px;
}
.eleven {
    grid-area: 5 / 2 / 6 / 3;
    height: 281px;
    width: 420px;
}
.twelve {
    grid-area: 5 / 3 / 6 / 4;
    height: 281px;
    width: 420px;
}
figcaption {
    color: #FFFFFF;
    font-size: 1em;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    height: 1.2em;
    z-index: 1;
    margin-top: -2.4em;
}
#contact {
    background-color: #000000;
    color: #FFFFFF;
}
#contact h2, p {
    text-align: center;
}
.chile {
    color: #FFFFFF;
    position: absolute;
    width: 90%;
    margin-top: -1.9em;
    margin-left: 6.5em;
}
.guatemala {
    color: #FFFFFF;
    position: absolute;
    width: 90%;
    margin-top: -12em;
    margin-left: 5em;
}
.hawaii {
    color: #FFFFFF;
    position: absolute;
    width: 90%;
    margin-top: -2em;
    margin-left: 6em;
}
.iran {
    color: #000000;
    position: absolute;
    width: 90%;
    margin-top: -3em;
    margin-left: 6.9em;
}
.ireland {
    color: #000000;
    position: absolute;
    width: 90%;
    margin-top: -26em;
    margin-left: 6.9em;
}
.italy {
    color: #000000;
    position: absolute;
    width: 90%;
    margin-top: -2.3em;
    margin-left: 6.9em;
}
.moab {
    color: #FFFFFF;
    position: absolute;
    width: 90%;
    margin-top: -2.4em;
    margin-left: 4.7em;
}
.rocky {
    color: #000000;
    position: absolute;
    width: 90%;
    margin-top: -12.4em;
    margin-left: 3em;
}
.switzerland {
    color: #000000;
    position: absolute;
    width: 90%;
    margin-top: -12.25em;
    margin-left: 4.75em;
}
.uk {
    color: #000000;
    position: absolute;
    width: 90%;
    margin-top: -12.25em;
    margin-left: 7.25em;
}
.usa {
    color: #000000;
    position: absolute;
    width: 90%;
    margin-top: -12.25em;
    margin-left: 7.25em;
}
.wyoming {
    color: #FFFFFF;
    position: absolute;
    width: 90%;
    margin-top: -12em;
    margin-left: 5.6em;
}
footer {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}
form {
    margin: 0 auto;
    padding: 0 15px;
    width: 50%;
}
label {
    text-transform: uppercase;
    padding-left: 15px;
    position: relative;
}
input {
    display: block;
    width: 100%;
    padding: 10px 5px 10px 10px;
    margin-bottom: 5px;
    border-radius: 2px;
}
textarea {
    display: block;
    width: 100%;
}
.form {
    padding: 10px;
}
::placeholder {
    color: #007D7B;
    font-weight: bold;
    text-transform: uppercase;
}
input[type="submit"] {
    background-color: #007D7B;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 300px;
    margin: 25px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
}
small {
    text-align: center;
    margin: 0 auto;
}

@media screen and (min-width:880px) {
    body {
        max-width: fit-content;
    }
    header {
        text-align: left;
    }
    nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        font-size: 1.5em;
    }
    h1 {
        text-align: left;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1300px) {
    nav {
        text-align: right;
    }
    header{
        text-align: left;
    }
    nav ul {
        display: flex;
        justify-content: right;
        list-style-type: none;
        font-size: 1.5em;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .one {
        grid-area: 1 / 1 / 2 / 2;
        height: 281px;
        width: 420px;
    }
    .two {
        grid-area: 1 / 2 / 2 / 3;
        height: 281px;
        width: 420px;
    }
    .three {
        grid-area: 1 / 3 / 2 / 4;
        height: 281px;
        width: 420px;
    }
    .four {
        grid-area: 2 / 1 / 4 / 2;
        height: auto;
        width: auto;
    }
    .five {
        grid-area: 2 / 2 / 4 / 3;
        height: auto;
        width: auto;
    }
    .six {
        grid-area: 2 / 3 / 4 / 4;
        height: auto;
        width: auto;
    }
    .seven {
        grid-area: 4 / 1 / 5 / 2;
        height: 281px;
        width: 420px;
    }
    .eight {
        grid-area: 4 / 2 / 5 / 3;
        height: 281px;
        width: 420px;
    }
    .nine {
        grid-area: 4 / 3 / 5 / 4;
        height: 281px;
        width: 420px;
    }
    .ten {
        grid-area: 5 / 1 / 6 / 2;
        height: 281px;
        width: 420px;
    }
    .eleven {
        grid-area: 5 / 2 / 6 / 3;
        height: 281px;
        width: 420px;
    }
    .twelve {
        grid-area: 5 / 3 / 6 / 4;
        height: 281px;
        width: 420px;
    }
    figcaption {
        color: #FFFFFF;
        font-size: 1em;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        height: 1.2em;
        z-index: 1;
        margin-top: -2.4em;
    }
    .chile {
        color: #FFFFFF;
        position: absolute;
        width: 90%;
        margin-top: -1.9em;
        margin-left: 6.5em;
    }
    .guatemala {
        color: #FFFFFF;
        position: absolute;
        width: 90%;
        margin-top: -12em;
        margin-left: 5em;
    }
    .hawaii {
        color: #FFFFFF;
        position: absolute;
        width: 90%;
        margin-top: -2em;
        margin-left: 6em;
    }
    .iran {
        color: #000000;
        position: absolute;
        width: 90%;
        margin-top: 27em;
        margin-left: 6.9em;
    }
    .ireland {
        color: #000000;
        position: absolute;
        width: 90%;
        margin-top: -26em;
        margin-left: 6.9em;
    }
    .italy {
        color: #000000;
        position: absolute;
        width: 90%;
        margin-top: -2.3em;
        margin-left: 6.9em;
    }
    .moab {
        color: #FFFFFF;
        position: absolute;
        width: 90%;
        margin-top: -2.4em;
        margin-left: 4.7em;
    }
    .rocky {
        color: #000000;
        position: absolute;
        width: 90%;
        margin-top: -12.4em;
        margin-left: 3em;
    }
    .switzerland {
        color: #000000;
        position: absolute;
        width: 90%;
        margin-top: -12.25em;
        margin-left: 4.75em;
    }
    .uk {
        color: #000000;
        position: absolute;
        width: 90%;
        margin-top: -12.25em;
        margin-left: 7.25em;
    }
    .usa {
        color: #000000;
        position: absolute;
        width: 90%;
        margin-top: -12.25em;
        margin-left: 7.25em;
    }
    .wyoming {
        color: #FFFFFF;
        position: absolute;
        width: 90%;
        margin-top: -12em;
        margin-left: 5.6em;
    }
}